/* MAIN COLOR
Light Orange : #ffd8a6 
Dark Orange:  #ffb367
LightGrey:  #dad7d7
dark: #808080
*/

body {
  margin:0 20%;
  border:0 2px 0 2px solid grey;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* div.ui.segment{
  padding: auto 100px;
} */

.ui.placeholder.segment .button{
  margin: 20px auto;
}

.contentMargin{
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 300px;
}

.gridChild {
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mediumWidth{
  width: 600px;
  margin: 50px auto;
}

.rightAbit{
  position: relative;
  left: 50px;
}

.flex-even{
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  align-items: flex-start;
}

div.ui.segment.piledSegment{
  margin-right: 100px;
  margin-left: 100px;
}


.page-title {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 3em;
}


.question {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.p {
  margin: 0;
  font-size: 14px;
}

.question-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form{
  width: 500px;
  height: 250px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 0px 1px 6px 2px grey;
  background-color: #ffd8a6;
}

.center {
  text-align: center;
}

.form-title {
  text-align: center;
  /* padding: 5px; */
  font-size: 2em;
  font-weight: bold;
  margin: 20px;
  margin-bottom:0px;
}

.form-subtitle{
  font-size: 12px;
  color: rgb(46, 46, 46);
  text-align: center;
  margin-bottom: 20px;
}


.form-body{
  text-align: center;

}

.or-seperator{
  box-sizing: border-box;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 0;
}

.inline-p {
  box-sizing: border-box;
  color: black;
  user-select: none;
  text-align: center
}


.margin{
  margin: 20px;
}

.navbar-css {
  background-color: #ffb367;
  margin: 0;
  border-bottom: 1px solid grey;
  padding-left:2%;
  padding-right:2%;
}

.active {
  color: darkred;
  font-weight: bolder;
}

.nav {
  display: flex;
  padding-left: 50px;
  /* important to shrink the menu-bar, delete the bullet */
  margin:0;
  padding:0;
  list-style: none;
}

.nav li {
  padding: 10px;
  cursor: pointer;
  user-select: none;
}

.nav li:hover{
  background-color:#ffd8a6
}


.nav-account{
  margin-left: auto;
  padding-right: 10px;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.divider li {
  padding: 10px 30px;
  margin: 5px;
  user-select: none;
  cursor: pointer;
  background-color:#ffb367;
}


.signin-form {
  height: 500px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.starter-title{
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
}

.signin-button{
  cursor: pointer;
  height: 40px;
  width: 100px;
  background-color:#ffb367 ;
  font-size: 16px;
  border-radius: 10px;
  font-weight: bolder;
}

.signin-command{
  font-size: 30px;
}

.login-user-select{
  width: 200px;
  height: 30px;
  font-size: 14px;
  position: relative;
  bottom:50px;
}

.login-title{
  font-weight: 700;
  font-size: 26px;
  margin-left:20px;
}

.profile-pic {
  display: inline-block;
  width: 100px;
  height: 100px;
  user-select: none;
  margin-top:10px;
  margin-right:20px;
  border-radius: 10%;
  border: 1px solid black;
  box-shadow: 0px 1px 2px 2px grey;
}

.question-form{
  color: inherit;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
}

.fix-answered-li {
  box-sizing: border-box;
  padding-left: 40px;
  padding-bottom: 5px;
  padding-right: 10px;
  user-select: none;
  text-decoration: none;
  list-style-type: none;
  font-size: 1.3rem;
}

.full-width {
  width: 100%;
}

.padding-bottom {
  padding-bottom: 20px;
}

.mini {
  width: 25px !important;
  height: 25px !important;
  padding:0;
  margin:0;
}

.medium {
  width: 40px !important;
  height: 40px !important;
  padding:0;
  margin:0;
}

.user-details {
  display: block;
  width: 100%;
  height: 135px;
  border-radius: 0px 0px 15px 15px;
}

.user-info-li {
  /* display: block; */
  color: #808080;
  font-size: 14px;
  text-decoration: none;
  user-select: none;
  padding: 10px;
}

/* .inline-block {
  display: inline-block !important;
} */

.block {
  display: block !important;
}

.vertical-align {
  vertical-align: middle;
}

.time-stamp {
  padding-left: 57px;
}

.user-detail-ul {
  padding: 15px !important;
  margin: 0px !important;
}


.padding-right {
  padding-right: 200px;
}

.padding-left {
  padding-left: 20px;
}

.fix-nav {
  padding: 0;
  margin: 0;
  text-align:left;
}

.fix-nav li {
  padding-left: 0;
}

.table {
  position: absolute;
  margin: 0;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-spacing: 0px;
  user-select: none;
}

td {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-bottom: 1px solid #4D4D4E;
  vertical-align: center;
}

th {
  text-align: left;
  padding-right: 100px;
  padding-left: 0;
  padding-bottom: 15px;
}

tr, th {
  border-bottom: 1px solid #999999;
}

.padding-right {
  padding-right: 200px;
}

.poll-details-form{
    width: 500px;
    height: 400px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0px 1px 6px 2px grey;
    background-color: #ffd8a6;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0;
}

.vote-result {
  display: block;
  font-size: 14px;
  color: #808080;
  padding-top: 10px;
}

.time-stamp {
  padding-left: 57px;
}


.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 12px;
  width: 12px;
  border: 1px solid #9e9d9e;
  border-radius: 50%;
}


.radio_container {
  display: block;
  position: relative;
  padding-left: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkmark {
  position: absolute;
  top: 2px;
  left: 40px;
  height: 12px;
  width: 12px;
  border: 1px solid;
  border-radius: 50%;
}

.radio_container:hover input ~ .checkmark {
  border: 1px solid rgb(114, 114, 114);
}

.radio_container:hover {
color: rgb(114, 114, 114);
}

.radio_container input:checked ~ .checkmark {
  border: 1px solid #25baa2;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio_container input:checked ~ .checkmark:after {
  display: block;
}

.radio_container .checkmark:after {
  top: 3px;
  left: 3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #25baa2;
}

.radio_container-div {
  margin: 0;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
}

.input_radio {
  margin-left: 10px;
}

.hide {
  display: none;
}

.answered {
  color: #25baa2 ;
  padding-left: 10px;
  font-weight: bolder;
}

.input-text {
  box-sizing: border-box;
  width: 80%;
  border: none;
  border: 1px solid #4D4D4E;
  margin-bottom: 20px;
  margin-right: 0px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.2s linear;
  padding-top: 10px;
  padding-bottom: 20px;
}

.margin-bottom {
  margin-bottom: 50px;
}

.word-length-option1 {
  text-align: right;
  font-size: 15px;
  color: #C3392A;
  position: relative;
  bottom: 40px;
  right: 15px;
}

.word-length-option2 {
  text-align: right;
  font-size: 15px;
  color: #C3392A;
  position: relative;
  bottom: 70px;
  right: 15px;
}