body {
  margin:0 20%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-title {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 3em;
}


.question {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.p {
  margin: 0;
  font-size: 14px;
}

.question-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form{
  width: 500px;
  height: 250px;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0px 1px 6px 2px grey;
  background-color: #ffd8a6;
}

.form-title {
  text-align: center;
  /* padding: 5px; */
  font-size: 1.5em;
  font-weight: bold;
}

.form-body{
  text-align: center;
}

.or-seperator{
  box-sizing: border-box;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 0;
}

.inline-p {
  box-sizing: border-box;
  color: black;
  user-select: none;
  text-align: center
}


.margin{
  margin: 20px;
}

.menu-bar {
  display: flex;
  background-color: #ffb367;
  margin: 0;
}

.active {
  color:#f57b51
}

.nav {
  display: flex;
  padding-left: 50px;
  /* important to shrink the menu-bar, delete the bullet */
  margin:0;
  padding:0;
  list-style: none;
}

.nav li {
  padding: 10px;
  cursor: pointer;
  user-select: none;
}

.nav li:hover{
  background-color:#f57b51
}


.nav-account{
  margin-left: auto;
  padding-right: 10px;
}