body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-title {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 3em;
}

.question {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.p {
  margin: 0;
  font-size: 14px;
}

.question-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form{
  width: 400px;
  height: 250px;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0px 1px 6px 2px grey;
  background-color: #ffd8a6;
}

.form-title {
  text-align: center;
  /* padding: 5px; */
  font-size: 1.5em;
  font-weight: bold;
}


.or-seperator{
  box-sizing: border-box;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 0;
}

.inline-p {
  box-sizing: border-box;
  color: black;
  user-select: none;
  text-align: center
}

.options{
  text-align: center;  
  /* padding: 10px; */
}

.margin{
  margin: 20px;
}