/* MAIN COLOR
Light Orange : #ffd8a6 
Dark Orange:  #ffb367
LightGrey:  #dad7d7
dark: #808080
*/

body {
  margin:0 10%;
  border:0 2px 0 2px solid grey;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ui.placeholder.segment .button{
  margin: 20px auto;
}

/* UI Card Size */
.ui.centered.card {
  width: 500px;
  margin-bottom: 30px;
}

.contentMargin{
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 200px;
}

.loginMenu {
  padding: 50px 150px;
}

.dashboardMenu{
  padding: 50px 50px;
}

.gridChild {
  /* margin-left: 25%;
  margin-right: 25%; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cardUI{
  width: 500px;
  margin: 30px auto;
}


.formLogin {
  width : 300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.mediumWidth{
  width: 600px;
  margin: 50px auto;
}

.rightAbit{
  position: relative;
  left: 50px;
}

.flex-even{
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  align-items: flex-start;
}

